.carousel-container {
    position: relative;
    width: 600px;
    height: 400px;
    margin: auto;
    background: transparent;
}

.carousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.5s ease, transform 0.5s ease;
    animation: slide-in 0.5s ease;
}

.slide-hidden {
    display: none;
    opacity: 0;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes flip-in {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0);
    }
}

.flipped {
    animation: flip-in 0.5s ease;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    filter: drop-shadow(0px 0px 5px #555);
    width: 2rem;
    height: 2rem;
    color: #efef12;
}

.arrow:hover {
    cursor: pointer;
}

.arrow-left {
    left: -3rem;
}

.arrow-left.inactive {
    opacity: 0.5;
    cursor: default;
}

.arrow-right {
    right: -3rem;
}

.indicators {
    position: absolute;
    top: -30px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.indicator {
    background-color: transparent;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #f9f46e;
    margin: 0 0.2rem;
    cursor: pointer;
}

.indicator-inactive {
    background-color: transparent;
}

.counter {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    z-index: 2;
    border: none;
}

.thankyou-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.play-again-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background-color: #efef12;
    color: #333;
    border-radius: 0.5rem;
    cursor: pointer;
}

.play-again-button:hover {
    background-color: #ddd;
}